<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>biohunter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  	<servlet>
		<display-name>ResourceServlet</display-name>
		<servlet-name>ResourceServlet</servlet-name>
		<servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceServlet</servlet-name>
		<url-pattern>/test-resources/*</url-pattern>
	</servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BarcodeDataServlet</display-name>
    <servlet-name>BarcodeDataServlet</servlet-name>
    <servlet-class>com.sap.innojam.biohunter.persistence.BarcodeDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarcodeDataServlet</servlet-name>
    <url-pattern>/BarcodeDataServlet</url-pattern>
  </servlet-mapping>
<!--   <servlet>
    <description></description>
    <display-name>PersistenceWithJDBCServlet</display-name>
    <servlet-name>PersistenceWithJDBCServlet</servlet-name>
    <servlet-class>com.sap.innojam.biohunter.persistence.PersistenceWithJDBCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithJDBCServlet</servlet-name>
    <url-pattern>/PersistenceWithJDBCServlet</url-pattern>
  </servlet-mapping> -->
<!--   <servlet>
    <description></description>
    <display-name>BarcodeDataServlet</display-name>
    <servlet-name>BarcodeDataServlet</servlet-name>
    <servlet-class>com.sap.innojam.biohunter.persistence.BarcodeDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistenceWithJPAServlet</servlet-name>
    <url-pattern>/PersistenceWithJPAServlet</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.sap.innojam.biohunter.persistence.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocumentStore</display-name>
    <servlet-name>DocumentStore</servlet-name>
    <servlet-class>com.sap.innojam.biohunter.persistence.DocumentStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentStore</servlet-name>
    <url-pattern>/DocumentStore</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
</web-app>